{% extends 'base.html' %}

{% block content %}
<title>To continue, login</title>
    <div class="container_content">
        <div class="form">
            <h2 class="description">Log into your account</h2>

                {% for message in messages %}
                    <h3>{{ message }}</h3>
                {% endfor %}

            <form method="post">

                {% csrf_token %}
                {{ login_form.as_p }}


                <input type="checkbox" onclick="reveal()" id="box">Show password

                <p></p>

            <button type="submit" class="btn">Sign In</button>
            </form>

            <p>&nbsp;</p>

            <p>If you don't have an account <a href="/register/">click here to register</a></p>

            <p>Click here to back to <a href="/">homepage</a></p>
        </div>



    </div>

{% endblock %}