{% extends 'home.html' %}

    {% block content %}
        <div class="content">

            <div class="profile_content">

                    <img src="{{ user.image.url }}"  class="profile_image" alt="photo">

                <p>&nbsp;</p>
                <p><b>username: </b></p>
                <p> {{ user.username }} </p>
                <p></p>

                <p><b>e-mail: </b></p>
                <p> {{ user.email }} </p>
                <p></p>

                <p><b>first name: </b></p>
                <p> {{ user.first_name }} </p>
                <p></p>

                <p><b>Your last name:</b> </p>
                <p> {{ user.last_name }} </p>
                <p></p>

            </div>

        </div>
    {% endblock %}

